body {
	background: #e9e8e3;	
}

header h1 {
	text-align: center;
	font-size: 65px;
	font-weight: 800;
	color: #3a3a3a;
}

header img {
	max-width: 100%;
}

header p {
	font-size: 20px;
	color: #3a3a3a;
	font-weight: 500;
	padding-top: 35px;
	padding-bottom: 80px;
	line-height: 32px;
	padding-left: 30px;
	padding-right: 30px;
}

.blog-posts  {
	margin-top: 0;
	margin-bottom: 0.3em;
}



div#container {
	
	height: 550px;
	width: 1000px;
	margin-top: 75px;
}

div#paragraph {
	width: 425px;
	height: 100%;
	float: left;
}

div#pictures {
	float: right;
	margin-top: 50px;
}

div#pictures img {
	width: 170px;
	height: 170px;
	margin-left: 50px;
	margin-right: 50px;
}

div#pictures h3 {
	font-size: 18px;
}

div#uno {
	float: left;
}

div#uno h3 {
	text-align: center;
}

div#dos {
	float: right;
}

div#dos h3 {
	text-align: center;
}



